MONGO_URI=mongodb://127.0.0.1:27017/my-personal-space
JWT_SECRET=change-me-long-random
GOOGLE_CLIENT_ID=166148076079-d3e9p9ldjijch9akk2eba9ddj8ipp82r.apps.googleusercontent.com
CLIENT_URL=http://localhost:5173
PORT=5000
